---
title: Planning Your Pulls for F2P / Monthly Pass Players
category: 'Astral Ring'
sortOrder: 3
customSlug: "pullplan"
ogimage: https://i.imgur.com/lJqfzIu.jpeg
update: 8.2

---

## Video Version

This page only has a [video version for now](https://youtu.be/PIgVRcIyY4w)

