---
title: Materials and Terms Comparison with Star Rail
category: 'Getting Started'
sortOrder: 3
customSlug: "matsvsstarrail"

---

Here are some notable materials and terms to get you up to speed with the game.

![Material comparison with HSR](https://i.imgur.com/t3uKvUm.png)


![Material comparison with HSR 2](https://i.imgur.com/33Y3ymJ.png)






