---
title: Foundry
category: 'Shop'
sortOrder: 3
customSlug: "foundry"

---


This is where you forge equipment and stigma. A lot of the equipment here are very old and outdated Part 1 equipment. So I will only talk about some notable ones.

## Prism Stigma

Prism Stigma are stigma used by Part 2 Valkyries. All Part 2 stigma are forgeable.

![](https://i.imgur.com/6qQIVW9.png)

