---
title: v7.9 Patch Note v3D
date: '26-Oct-2024'
version: '7.9'
sortOrder: '1'
image: "/images/sporkle.png"
category: "valk"
---

### LINKS

- [7.9 Patch Note](/betanews/79log)
- [Sparkle Translation](/betanews/sparkle)
- [Sparkle Equipment](/betanews/sparklegear)
- [Elysian Realm](/betanews/sparkleer)


### V3D

#### ELYSIAN REALM
- Adjusted stage effects description. Actual effects remain the same
- Adjusted Sparkle signet description. Actual effects remain the same
- Fixed an issue where Sena support skill deals abnormally more dmg
- Fixed an issue where signet portal may not open normally
- Adjusted a bunch of Sparkle signets
- Removed  the restriction that Sparkle's ult additional dmg and extra collapse are only available during AR Charging state.

---

### V3C

#### SPARKLE
- Weapon skill deal 100%+50%x4 > 10%+10%x4 ATK of Fire DMG
- Dream Fish: Combo ATK Fire DMG +900% > 1100%
- Fireworks: Combo ATK Fire DMG +900% > 600%
- When fish consumes reso mark, 204% (S) / 240% (S1) > 255% (S) / 300% (S1) ATK Fire DMG. If reso trigger > 7 times, 1550% (S) / 2000% (S1) > 1084% (S) / 1420% (S1) ATK of Fire DMG.
- When Resonance mark is triggered and deal dmg, the subsequent dmg multiplier increases by 53% (S) / 65% (SS1) > 60.5% (S) / (65% (SS1) , after dealing dmg 13 times, the dmg multiplier increases by an additional 85% (S) / 100% (SS1) > 102% (S) / 120% (SS1)
- Lead skill: 0.5s after enemy is ignited, remove ignite and explode, deal 600% > 100% ATK of Fire DMG.

#### STIGMA
When not set as team leader, teammates‘ Elemental DMG and Total DMG +30% > 20%, teammates’ Weapon Active gain additional Elemental DMG and Total DMG +15% > 20%.

#### WEAPON
~~During AR Charging:~~ **During Stellar Outburst:** Enemies on the field take +12% more Fire DMG from the wielder.
Changed condition from AR Charging to Stellar Outburst.

#### EX ABYSS
- Fire Kosma: Adjusted HP
- Resonance Vita: Fixed missing warning at the start.

#### ELYSIAN REALM
Adjusted Kosma boss hp display. Actual value remains the same.

---

### V3B
- Lone Planetfarer: Added toggle for weapon sub-skill 2 (Trigger time fracture)
- HoFi with Waxing Moon: Fixed an issue where Combo ATK dmg may be missing in certain cases

---

### V3
Sparkle changes will not be mentioned here because patch note doesn't state the full list anymore. Check Sparkle rentry for that.
- Fixed an issue where ignite trauma applied by ult effects aren't working properly

#### VALK CHANGES 
- Lone Planetfarer: Fixed an issue where, in planet quaker form, enhanced Seq 3 still gives meter even when the attack is interrupted.
- Fixed an issue where, in planet quaker form, enhanced seq 3 may fail to be casted.
- Fixed an issue where, on low-end devices, the first transformation animation is abnormal
- Starry Impression: Fixed voiceline when changing outfit
- Optimized the logic of overlapping impair by certain characters
- HoFi with Waxing Moon: Fixed an issue where Quantum Mech Energy display is incorrect

#### EX ABYSS
- SD weather Meteoroid ??? - Fixed an issue where the boss is immune to thunder lock and ice cell effect
- Paralyze Sushang - Fixed abnormal targeting

#### MEMORIAL ARENA
- Vita: Adjusted overall mechanic
- Valralhal: Fixed abnormal blocking


---
### V2
#### NEW VALK
- Sparkle | S-rank Qua Fire World Star
- Resonance Support, Future AR Support, Part 1 Fire Support

#### 7.9 MATRIX EVENT
- 3 chapters, 4 maps
- Has PVP event

#### FUN CLUB EVENT

#### CHAPTER 6
- New chapter + event 
- New area Ruimu

#### DUAL CORE

#### EX ABYSS
- Resonance weather Vita (? Type)
- Fire Kosma (QUA)
- Starless Husk Mysticism (IMG)

#### ARENA 
- Added SSS Vita (? Type)

#### ELYSIAN REALM
- Added Sparkle
- Default F17 boss is Beast of Sacrifice
- Updated stage and load

#### TOP UP EVENT
- Topup around 100 usd to get up to 3 Dreamweaver stamps / 3 HoFi stamps / 240 AL + other mats such as weapon upgrade coupon, battlesuit supply card, equipment supply card and 2 Source Prism

#### BATTLE PASS
- Twirling Glaze, Aladdin

#### SHOP
- Exchange Shop: KoOblivion, Columbus, Shattered Swords. Free reset per week set to 999.
- Witch Corridor: Added HoOrigin stamps
- War Treasury: Added HoSentience card and stamps, Wafer Stabilizer and Wafer Dataflow
- ER Shop: Added Aponia stamps
- Universal Mirage: Removed Time Structure exchange
- Asterite Shop: Added Torus and Normal Crystal Core (60% off)
- After 7.9 update, all Time Structure will convert to Time Swirl Pass at a certain ratio
- Forge: Added G4 Ragna, G4 Bianka Theater and Sparkle Stigma


#### SYSTEM
- Added second confirmation when you click p2 open world icon on topleft
- Added LITE for Realms of Battle
- For KBM, added option to select dialog using number keys. For controller, added a new function to select dialog using left analog, and LB to select.
- Added main chapter early access: You can now directly play a chapter without having to complete the preceding chapter.
- Adjusted the display of previous story summary in 7.9 attack menu
- Fixed an issue for Sim Battle Lite: In poor network condition, using LITE might fail.

---

#### VALK CHANGES
- Vita: Fixed facial lightning display in some stages
- Jovial Deception: Fixed an issue where her QTE can be triggered after Stellar Outburst is over
- HoFi with Waxing Moon: 
	- Fixed an issue where Combo ATK can be abnormally triggered 
	- Fixed an issue where you may be missing dmg
	- Fixed an issue where the weapon may make the enemy airborne a lot more frequent
	- Fixed an issue in low network connection, AR may not be activated
- Fixed an issue where valk model may have abnormal visual when you zoom in
- Added heal tag for some characters, including JD, HoRB, Kira, Coralie, AE

#### WEAPON CHANGES
- Torch of Eons: Mark detonation dmg may be missing dmg in certain situations
- Waxing Moon: Fixed skill description. This is only text change, actual effect remains the same

#### BOSS CHANGES
- SSS Aponia: Fixed an issue where some attacks are not considered to be melee, thus cannot parry aponia summon's attacks

#### PART 2 
- Optimized Hyperion 11 when interacting with Mei or Bronya 
- A reminder has been added. When you progress in a mission, this alert will tell you that the progress has been saved.