---
creationDate: "2025-01-10T03:44:52.530Z"
title: Hi♪ Love Elf♥ Translation v2
version: '8.5'
sortOrder: '2'
image: "/images/valkportrait/Elysia Hi Love Elf.png"

---

### LINKS

- [8.5 Patch Note](/betanews/85log)
- [Hi Love Elf Skills](/betanews/85elysia)
- [Hi Love Elf Equipment](/betanews/85elygear)
- [HoRB DLC](/betanews/85horbdlc)
- [Elysian Realm](/betanews/85er)


---

### INTRO
- S-rank SD Ice, Bow
- AR Grail of Infinitude
- Support AR Tags: Symbiosis, Resonance, Shadow Star (Can support GoInfinitude, World Star, WoDestiny)
- Gameplay: https://youtu.be/eZZHr9euFbw

---

### LEADER 
Activates AR Grail of Infinitude. SO cost: 175. SO Duration: 30s, CD: 27s.
- When there is 1 character with Symbiosis tag in the team: Hi Love ELf Ice DMG +10% (S) / 18% (S3) / 26% (SS3).
- When there are 2 characters with Symbiosis tag in the team: During SO, Hi Love Elf max sp +200.
- When there are 3 characters with Symbiosis tag in the team: During SO, Hi Love Elf max sp +430, enemies take 6% (S) / 9% (S3) / 12% (SS3). more Ice DMG from Hi Love Elf (independent multiplier).


#### LEADER 1
As leader:
- Enemies take 6.4% (S) / 10% (SS) more total damage from Hi Love ELf. During AR Charging, additional +3.2% (S) / 5% (SS).
- During AR Charging: Each time you use weapon or Ult, restore 3 / 2.5 points of AR meter.
- Ultimate from a team member with Symbiosis tag will inflict 9 points of freeze, cd 3s, cd for each teammate is calculated seperately.


---

### ASTRAL RING

Hi Love Elf is protected by AR Grail of Infinitude. When entering Stellar Outburst, unleash Stellar Assault, deal 400% ATK of Ice DMG. If Hi Love Elf is the leader, Stellar Assault applies 18 points of freeze trauma to all enemies.

When GoInfinitude is activated:
- During SO, team members share sp meter.
- Max sp is total of all team members' sp.
- Initial sp is 50% of max sp.
- The max sp that can be consumed by non-leader team member's Ult is equal to 100% of their max sp before SO is activated.
- During SO, your max sp +200. When you are the leader, you gain Shimmering Trace equal to 100% of the sp consumed by yourself (not affected by sp reduction effect). When Trace reaches 1200, clear all Trace and trigger Facet of Infinitude. When the team has triggered Facet 2 times,
Joint Weapon / Ult Finisher will be enhanced, deals additional 800% / 1200% ATK of Ice DMG. At the same time, when Hi Love Elf hits a SD enemy with any attack, a Stardust Deconstruction is triggered, drops 2 SD shards, can only trigger once per SO.
- When SO ends, team no longer share sp, reset Trace points, and sp is restored to the value before SO is activated.
- When Hi Love Elf is the leader:
    - When a teammate with Symbiosis tag uses Ult, Ely CD is reset and QTE is triggered.
    - When activating SO, Elysia activates Love Field Dome. In this form, Weapon Skill and Joint Weapon are changed to shoot toward the Love Field Dome. 
    When Love Field Dome is in Full Spring state, Basic ATK Total DMG +100%, and you can use Ultimate Finisher.
    - During SO, Ultimate will initially consume 200 sp to generate 1 arrow, dealing 400% ATK as Ice DMG.
    Based on the charge time, additional sp can be consumed to fire additional arrows (if Flower of Love is in Blooming state, timestop is triggered during charging).
    Can fire up to 6 arrows. Upon consuming 600 / 900 / 1200 / sp, she can generate +2 / +4 / +6 extra arrows respectively, each dealing 200% ATK as Ice DMG.
    If sp is insufficient, she can overcharge until sp is negative, up to –1000 sp.
    If current sp is below 200 or in a negative amount, Hi Love Elf cannot cast her Ultimate again.
    - During SO, each teammate with Symbiosis tag grants 300 Trace when they use Ult for the first time.
    - During SO, the first time you use Ult, Love Field Dome immediately flourishes to High Spring state. At the same time, teammates with the Symbiosis tag gain +50% sp regen efficiency and +100% Trace gain efficiency.
    - During SO, casting Ult Finisher: Starmelody of Love will immediately end SO state.

- When Hi Love Elf is not the leader:
    - During SO, upon entering via QTE for the first time, Love Field Dome immediately flourishes to High Spring state, allowing you to immediately use Ult Finisher, deal 500% ATK of Ice DMG, and the next Ult costs 0 sp, ends on exit. During SO, the first Ult / Ult Finisher that hits restore 140 / 128 sp.

- When WoDestiny is activated:
    - Yknow can summon shadow and trigger Rondo state 11s

#### AR 1
After SO ends, gain Stellar Drain. During AR Charging, when Ult hits a target, consume Stellar Drain, when 1/3/5 arrows hits, restore 2/6/10 AR.
- When GoInfinitude / WoD / WStar is activated, restore 10 extra AR.
- Gain Stellar Drain at the start of battle.

#### AR 2
As leader:
During SO, when team triggers 1/2/3 Facet, self Ice DMG +16/16/28% (S) / +19/19/32% (S2) / +25/25/40% (SS1), lasts until SO ends. If the team has triggered 3 Facet during SO, and sp is less than 90 when SO ends, sp is restored to 90.

#### AR 3
When WoDestiny is activated:
- During AR Charging: All arrows from Ult deal additional 200% ATK of Ice DMG.
- When Ely uses Ult or enter / exit SO, WoD valks gain these effects:
    - Ele DMG +20% (S) / 30% (S1), Phy DMG +20% (S) / 30% (S1). Ranged Ele DMG +5% (S) / 30% (S1), enemies take 16% more Total DMG from ranged atks, lasts for 30s, can be refreshed.

#### AR 4
When World Star is activated:
- During AR Charging: All arrows from Ult deal additional 200% ATK of Ice DMG.
- When entering SO, Ely activates Lovefield in High Spring state.
- For every World Star character in the team, during AR Charging, Total DMG +3% (S) / 8% (S1), during SO, Total DMG  / 8% (S1).
- SO cd -5s (cannot stack).
- When entering SO, gain 6 QME, keep pressing atk button to launch resonance atk in the following order:
    - 1: Weapon skill, deal 100%x5 + 100%x2, consume 2 QME, trigger 2 reso
    - 2: Joint weapon, deal 400% + 100%x2, consume 2 QME, trigger 2 reso
    - 3: Shoorts Ult (instantly at 7 arrows) and activates Lovefield in High Spring state, deal 1600% + 100%x2, consume 2 QME, trigger 2 reso, and then you can use Ult Finisher, deal 1000% ATK of Ice DMG.
- Team recover 100 HP when a reso atk is triggered.
- During SO: Using Ult Finisher, Weapon Skill, Joint Weapon, and Ult by consuming QME makes the attacks gain Ice DMG +100% Ice DMG, and Ele Breach +10%.


---

### PASSIVE
When using a weapon skill, Ely releases Flower of Love, performing various forms of attacks.
During AR Charging, after using a weapon skill, she briefly commands the Flower of Love to bloom. At this time, Ely’s Ultimate locks onto the Flower of Love. When hitting the Flower of Love afterwards, the main arrow deal 400% ATK as Ice DMG, and trigger Everbloom Garden, dealing an additional 400% ATK as Ice DMG.

When activating SO, Ely simultaneously creates a Love Field Dome beneath her. While fighting within the Love Field Dome, if Hi Love Elf is the leader, her Total DMG +12%, and all team members recover 1000 HP per second.

The Love Field Dome initially starts in Early Spring state. When Ult hits a Flower of Love in Blooming state, the Love Field Dome will flourish, dealing 800% ATK as Ice DMG.

The Love Field Dome progresses through Early Spring → Mid Spring → Full Spring states as it flourishes.

Hi Love Elf max sp +50. Basic ATK and QTE can trigger Blessing of Love, grants sp recovery.

During AR Charging: If sp is below 150, sp regen efficiency +400%.

When Hi Love Elf is in the team, SD enemies' critical index point becomes Special Critical Index. When detonated, trigger 1 Stardust Deconstruction, and all dropped SD shards are converted into Special SD shards: Eternal Wish Crystal (functions the same as regular shards but when consumed, Max HP DMG dealt to SD enemies are increased by 5%)

When Hi Love Elf is the leader, all arrows from Ult deal additional 200% ATK of Ice DMG, and triggering Everbloom Garden deals an additional 400% ATK of Ice DMG.

During SO: Stellar Weapon Skill deals an additional 100% ATK of Ice DMG.

Upon casting Joint Weapon skill or Love Field is flourished, deal additional 700% ATK of Ice DMG.

Ultimate Finisher deals an additional 500% ATK of Ice DMG.


#### PASSIVE 1
When an SD enemy has its critical index detonated, it no longer has any critical index point, and its solid state phase is reduced to 10s. Refreshed when enemy's HP reaches 0.

#### PASSIVE 2
[S2] When critical index is detonated, drop 2 Eternal Wish Crystal

#### PASSIVE 3
When battle starts, if Hi Love Elf is the leader, initial sp +90, enemies take 10.8% (S) / 18% (SS2) more Ice DMG from herself. When not the leader, initial sp +100.

#### PASSIVE 4
Gain Total DMG +20% against SD enemies. All team members gain SD Navigator state: Consuming SD remnant increases damage to SD enemy's Max HP by 30% (cannot stack).

#### PASSIVE 5
[SS] If Hi Love Elf is the leader, during AR Charging: The first fully charged Ult can restore additional 5 AR meter (once per battle).

---

### EVASION
Evasion skill: Trigger 3s time fracture, CD 16s

#### EVASION 1
[S2] Non-ultimate evasion can trigger evasion skill 

#### EVASION 2
[SS] After triggering evasion skill, can connect to Basic SEQ 4, when SEQ 4 hits, if sp is below 150, restore sp to 150, effect ends on exit.

---

### WEAPON SKILL
During AR Charging, press weapon to unleash Flower of Love to the target, deal 300% + 1000% ATK of Ice DMG (counts as Combo and Weapon DMG), immobilize the enemy for 2.5s, effect ends after using Ult.

During SO, press weapon to command Flower of Love to the target's feet, then continuously spin to deal 100%x5 + 500% ATK of Ice DMG. While spinning, Flower of Love can chain into the Joint Weapon skill Heart’s First Benediction, cd 15s.

When AR is activated: Casting weapon also trigger Stardust Flicker (gather shard)

#### WEAPON 1
When entering via QTE during SO, or upon entering or exiting SO, refresh weapon cd.

#### WEAPON 2
[SSS] After casting weapon skill during SO, enemies take 20% more Ice DMG from herself, lasts for 3s. During SO, after using Joint Weapon skill, enemies take 25% more Ice DMG from herself, lasts for 3s.

---

### BASIC ATK

Four Basic ATK Sequence, same seq on both ground and air:
- 1: 60%x4, 6sp
- 2: 420%, 6sp 
- 3: 80%x11, 9sp
- 4: 800%, 9sp, can trigger Stardust Flicker

During AR Charging: First attack after triggering Everbloom Garden will trigger 3s time fracture, ends upon entering SO.

When Everbloom exists, Basic SEQ 4 will trigger Everbloom Joint ATK, deal 1200% ATK of Ice DMG.

#### BASIC 1
During Basic ATK, take 30% less Total DMG, and gain higher anti-interrupt. When Basic SEQ 4 hits a target, recover 50 sp, cd 10s.

#### BASIC 2
When entering via QTE, Blessing of Love effect is triggered to restore sp:
- When GoInfinitude is activated, if you are the leader, recover 15 sp. If not the leader, recover 30 sp.
- When WStar or WoD is activated, restore 30 sp.

#### BASIC 3
QTE Trigger: When enemy is timeslowed, teammate use weapon, ult, or when timestop triggered by a teammate ends, Hi Love Elf can enter and deploy 4 small messengers to deal 250%x4 ATK of Ice DMG, trigger 2s time fracture.

---

### COMBO ATK
During AR Charging: Damage caused by casting weapon skill is considered as both Combo and Weapon DMG.

Joint Weapon Skill: During SO, after you cast weapon skill, weapon button is highlighted, press it to leave a flower cluster on Lovefield,
deal 400% ATK of Ice DMG in aoe, immobilize for 2.5s, ends when Ult hits. The heart will enter Bloom state. During SO, dmg caused by Joint Weapon Skill is considered as both Combo and Weapon DMG.

#### COMBO ATK 1
During AR Charging: Weapon Skill Wish Blossom deal additional 300% ATK of Ic DMG. During SO, Heart Blossom deals additional 800% ATK of Ice DMG.

#### COMBO ATK 2
During AR Charging: Weapon adds 18 points of freeze trauma.

---

### ULTIMATE 

Tap or hold to use Ult. Initial sp cost: 100. CD: 2s. On hit, deals 200% ATK of Ice DMG and adds 18 freeze. Charging ult can fire additional arrows, up to 4 extra arrows. Upon reaching 125/150 sp, 2/4 arrows are created, each deals 200% ATK of Ice DMG.
If sp is insufficient, all arrows are fired prematurely. 

During AR Charging: If Flower of Love is blooming, Ult triggers timestop when charging up. Then, firing at the Flower of Love triggers Everbloom Garden, lasts for 2/4/12 seconds when hit by 1/3/5 arrows.

During SO: Upon casting Ult that fires 7 arrows, or upon casting Ult Finisher, gain timestop during its animation. During SO, you can only Ult Finisher once.

Entering or exiting SO refreshes Ult cd.

#### ULT 1
During AR Charging: Triggering Everbloom Garden adds 18 freeze.

During AR Charging: Upon casting weapon skill, main arrow deals additional 260% (S) / 400% (SSS) ATK of Ice DMG when the next Flower of Love blooms. Ends after exiting AR Charging.

During SO: After casting Joint Weapon, the next Flower of Love blooms deals additional 390% (S) / 600% (SSS) ATK of Ice DMG, ends when exiting SO.

#### ULT 2
As leader, during AR Charging, Everbloom Garden deals additional 200% ATK of Ice DMG, and full bloom deals additional 800% ATK of Ice DMG.

#### ULT 3
As leader, upon casting Ult Finisher and exiting SO, AR meter is restored to 40% proportion of the remaining SO duration, minimum 20 AR points.

#### ULT 4
When Ult with max arrows hits a SD enemy, detonate its critical index, can only trigger once for each enemy. Refreshes when the enemy's HP reaches zero.

---

### RANK UP 

S1: 
- WoD Support: Ele DMG +20% (S) > 30% (S1), Phy DMG +20% (S) > 30% (S1). Ranged Ele DMG +5% (S) > 30% (S1)
- WStar Support: For every WS character in the team, during AR Charging, Total DMG +3% (S) > 8% (S1), during SO, Total DMG  > 8% (S1).

S2: 
- UNLOCK: Non-ultimate evasion can trigger evasion skill 
- UNLOCK: When critical index is detonated, drop 2 Eternal Wish Crystal
- During SO, when team triggers 1/2/3 Facet, self Ice DMG +16/16/28% (S) > +19/19/32% (S2)

S3:
Leader Skill

SS:
- UNLOCK: If Hi Love Elf is the leader, during AR Charging: The first fully charged Ult can restore additional 5 AR meter (once per battle).
- UNLOCK: After triggering evasion skill, can connect to Basic SEQ 4, when SEQ 4 hits, if sp is below 150, restore sp to 150, effect ends on exit.
- Enemies take 6.4% (S) > 10% (SS) more total damage from Hi Love ELf. During AR Charging, additional +3.2% (S) > 5% (SS).

SS1: 
During SO, when team triggers 1/2/3 Facet, self Ice DMG +19/19/32% (S2) > +25/25/40% (SS1)

SS2: 
Enemies take 10.8% (S) > 18% (SS2) more Ice DMG from herself.

SS3:
Leader Skill

SSS: 
- UNLOCK: After casting weapon skill during SO, enemies take 20% more Ice DMG from herself, lasts for 3s. During SO, after using Joint Weapon skill, enemies take 25% more Ice DMG from herself, lasts for 3s.
- During AR Charging: Upon casting weapon skill, main arrow deals additional 260% (S) > 400% (SSS) ATK of Ice DMG when the next Flower of Love blooms. Ends after exiting AR Charging.
- During SO: After casting Joint Weapon, when the next Flower of Love blooms, deals additional 390% (S) > 600% (SSS) ATK of Ice DMG, ends when exiting SO.
