---
creationDate: "2025-01-10T03:44:52.530Z"
title: Ba-dum! Kiana Skill v4b

version: '8.1'
sortOrder: '2'
image: "/images/valkportrait/Blazing Wishes.png"

---

### LINKS

- [8.1 Patch Note](/betanews/81log)
- [Ba-dum! Kiana Skills](/betanews/badum)
- [Ba-dum! Kiana Equipment](/betanews/badumgear)
- [HoH Divine Key and Stigma](/betanews/hohdk)
- [Theresa AstralOp](/betanews/teriasop)
- [Elysian Realm](/betanews/81er)


### INTRO
- S-rank, SD, Fire, Gun user
- Astral Ring: Law of Ascension
- Is a DPS, can support Law of Ascension Team, Domain Resonance team, one future ??? AR team
- Gameplay:  https://www.youtube.com/watch?v=xgH5sSoS25c

---
### LEADER 
When set as leader, activate AR Law of Ascension. SO cost: 200, Duration: 1s, CD: 40s.

When you have 1 team member with Heavenly Shift attribute: Stellar Shift gain Fire DMG +15% (S) / 25% (S3) / 35% (SS3).

When you have 2 team members with Heavenly Shift attribute: Teammates with Heavenly Shift tag can trigger Badum's Heavenly Link. Badum also restore 10 more AR when consuming Stellar Drain.

When you have 3 team members with Heavenly Shift attribute: Enemies take 14% (S) / 15% (S3) / 16% (SS3) more Fire DMG from Badum (independent multiplier). **Badum gain Total DMG +10% (V3)**. Initial AR +10.

---

**LEADER 1**<br/>
When Ba-dum Kiana is the leader:
- ~~v3: Self Fire DMG +24% (S) / 27% (SS) / 30% (SSS). Self Elemental Breach +6%.~~
- ** <span class="text-emerald-400 bg-emerald-800 px-1"> v4: Self Fire DMG +20% (S) / 25% (SS) / 30% (SSS). Self Basic ATK gain Elemental Breach +6%. </span> **
- Dream Collab will detonate Passion mark, deal additional 480% (S) / 540% (SS) / 600% (SSS) ATK of Fire DMG
- Ult and Dream Collab deal additional **800% (S) / 900% (SS) / 1000% (SSS) [v2] > 500% (S) / 600 (SS) / 700% (SSS) [v3]** ATK of Fire DMG
- Joy state gained from QTE is considered as Augmented Ascension state
- When any team member enters via QTE or Stellar Shift, Ba-dum Kiana gain 8 sp
- At the start of battle, initial sp +30

---

**LEADER 2**<br/>
When Ba-dum Kiana is the leader:
- When you are in Elemental Breach state, self Fire DMG +20% (v3) > **<span class="text-emerald-400 bg-emerald-800 px-1"> +24% (v4) </span>**, Total DMG +6%
- Ultimate gain Augmented Ascension state



### ASTRAL RING

Ba-dum! is protected by AR Law of Ascension. Upon casting Stellar Outburst, unleash Stellar Assault, deal 400% ATK of Fire DMG.

When AR Law of Ascension is activated:
- After activating Stellar Outburst, you can select a teammate with Heavenly Shift tag and trigger the character's Stellar Shift. Then, other Heavenly Shift characters will cast their Stellar Shift skill when they enter the field.
- Stellar Shift: Hit the button prompt to deal **500%x2 + 2600% (v2) > 300%x3 + 2400% (v3)** ATK of Fire DMG. On hit, apply Passion, You are in Augmented Ascension state during this time.  If meter is less than 40, meter will be restored to 40.
- When Stellar Shift, Combo ATK or special weapon skill hits a target, the leader's switch cd is reset and her QTE is triggered. If you are the leader, teammates' switch cd are reset and their QTE are triggered.
- When you are not the leader:
    - When QTE hits, restore 15 AR, and trigger the leader's Heavenly Link, deal 440% ATK of Physical DMG or 880% ATK of adaptive Elemental DMG based on the leader's damage type. CD: 16s.
    - Upon casting Stellar Shift, trigger Heavenly Link twice.
    - When Stellar Shift or QTE hits, restore full meter.

---

**AR 1**<br/>
When Stellar Outburst ends, gain Stellar Drain. Consuming Stellar Drain restore 10 AR.
- When World Star is activated, Stellar Drain restore 10 more AR.
- When Law of Ascension is activated, Stellar Drain restore 10 more AR.
- Gain a Stellar Drain at the start of battle.

---

**AR 2**<br/>

When AR World Star is activated: 
QTE restore full meter.
Upon entering Stellar Outburst, Ba-dum! gain 6 Quantum Mech Energy (QME). When you have QME, spam Basic ATK to launch 4-sequence attack, each attack consumes QME to trigger resonance atk. During Stellar Outburst, you are in Dominance state (kinda like Iron Body).
- SEQ 1: 500% ATK of Fire DMG.
- SEQ 2: 1100% ATK of Fire DMG.
- SEQ 3: 1200% ATK of Fire DMG.
- SEQ 4: 1600% ATK of Fire DMG.
- The last 2 QME will launch drum attack, ~~2025% + 300%x2 (v2) > 1875% + 300%x2 (v3) >~~ **<span class="text-emerald-400 bg-emerald-800 px-1"> +1825% + 300%x2 (v4) </span>** ATK of Fire DMG, trigger two resonance atk.
- When airborne jump atk hits, deal 30% + 300% ATK of Fire DMG, consumes 1 QME to trigger one resonance atk.
- Weapon button is disabled when you have QME.

---

**AR 3**<br/>
When AR Law of Ascension is activated: During Joy state, self Total DMG +10% (S) / 15% (SS1). Joy state gained from Stellar Shift is considered as Augmented Ascension state.

---

**AR 4**<br/>
Related to future AR.



### PASSIVE
Has [Good Fortune] meter. When meter is full, you can cast special weapon skill [Dream Collab]

Meter starts at 0, max 240 points. <br/>
Basic ATK restore ~~15 / 15 / 30 / 45 (v3)~~ ** <span class="text-emerald-400 bg-emerald-800 px-1"> 10 / 20 / 30 / 45 (v4) </span> ** points. When weapon or Combo hits, gain 30 (v3) > **<span class="text-emerald-400 bg-emerald-800 px-1"> 25 (v4) </span>**  points. Meter is cleared on exit. <br/>
After casting Stellar Shift or QTE, gain 8 seconds of Joy state, can be refreshed. Dream Collab will end when Passion ends or when you exit. <br/>
During Joy state, meter regen +100%, and gain higher anti-interrupt.

---

**PASSIVE 1**<br/>
Against SD enemy, Total DMG +20%. All team members gain SD Navigation state: Consuming SD remnant increases damage to SD enemy's Max HP by 30% (cannot stack).

---

**PASSIVE 2**<br/>
Take **30% (v2) > 20% (v3)** less damage. ~~Team Fire DMG +20% (v2)~~ Leader Fire DMG +20% (v3) > **<span class="text-emerald-400 bg-emerald-800 px-1"> 15% (v4) </span>** .



### EVASION
Deal 30% ATK of Fire DMG when you do aerial jump and hit an enemy, and reset aerial jump counter.
**v3: When ultimate evasion or jump is successful, gain 1 AR and 10 meter.**

Evasion skill: Trigger 3s time fracture, CD: 15s.

---

**EVASION 1**<br/>
**<span class="text-amber-400">[S2]</span>** (Toggle) Upon casting Combo ATK, weapon skill, or Basic ATK SEQ 4, trigger evasion skill.

---

**EVASION 2**<br/>
**<span class="text-amber-400">[SSS]</span>** Upon casting QTE or Stellar Shift, reset evasion cd.



### WEAPON SKILL

Press weapon: Deal ~~300%x2 (v2) >~~ 100%x2 (v3) > **<span class="text-emerald-400 bg-emerald-800 px-1"> 100% + 200% (v4) </span>**  ATK of Fire DMG, gathers nearby enemies, apply Passion mark to enemies.

v3: When weapon skill hits an enemy with Passion mark, **<span class="text-emerald-400 bg-emerald-800 px-1"> deal 20.25% ATK of Fire DMG (v4b) </span>**, and all enemies on the field without Passion mark will gain Passion mark.

When meter is full, hold weapon button to use special weapon skill Dream Collab. Deal a total of ~~1575% (V2) >~~ 1875% (v3) > **<span class="text-emerald-400 bg-emerald-800 px-1"> 1825% (v4) </span>**  ATK of Fire DMG, detonate all Passion marks on the field. Each mark detonation deals **100% (v2) > 200% (v3)** ATK of Fire DMG. During this time, Joy state timer is paused.

Weapon and Dream Collab will gather sd remnants.

---

**WEAPON 1**<br/>
Stellar Shift, weapon skill and Dream Collab will link up to 6 enemies hit, and the damage received from teammates and Ba-dum Kiana will be transferred to other linked enemies at a rate of **8.2% / 23% (S) ➔ 9.1% / 24% (S2) ➔ 10% / 25% (SS) [v2] > 6% (S) / 7% (S2) / 8% (SS)** respectively. (Transfer dmg is HP Loss DMG) 

V3: If Badum is the leader, damage transfer from Badum is increased to 12% (S) / 14% (S2) / 16% (SS) [v3] > **<span class="text-emerald-400 bg-emerald-800 px-1"> 15% (S) / 16% (S2) / 17% (SS)  (v4) </span>** 


---

**WEAPON 2**<br/>
Every time SD critical index is detonated, weapon skill and Dream Collab gain Total DMG +4% (S) / 5% (S1), max 20% (S) / 30% (S1).

---

**WEAPON 3**<br/>
When weapon skill or Dream Collab hits a SD enemy, 8% of Max HP will be reduced, can only be triggered once per enemy. Trigger count refresh when enemy's HP reaches zero.

---

**WEAPON 4**<br/>
(Toggle) When meter is full, you can cast Dream Collab by pressing weapon button instead of holding the button.


### BASIC ATK
4-hit sequence, deal Fire DMG

Ground:

**v3: 20%+60% , 20%x3+100% , 25%x2+400% , 200%+700% and adds Passion mark**

~~v2: 40%x2 , 30%x4 , 50%x3 , 550%x2 and adds Passion mark~~

Air:

**v3: 100% , 20%x3+120% , 25%x2+400% , 200%+750% and adds Passion mark**

~~v2: 50% , 30%x4 , 50%x3 , 420%x2 and adds Passion mark~~

Evade or jump will not reset sequence

---

**QTE**<br/>
(Toggle) Trigger: Teammates use weapon skill or Ult, or enemies are time slowed. Deal 400% + 600% ATK of Fire DMG, and apply Passion mark to enemies hit, trigger 2s time fracture.

---

**BASIC 2**<br/>
**<span class="text-amber-400">[SS]</span>** Upon entry via QTE, restore 40 meter, and 10 sp for yourself.


### COMBO ATK

Ground Combo ATK: **350%x2 (v2) > 100% + 300% (v3)** ATK of Fire DMG, knocks enemies up and pulling them.

Air Combo ATK: **350%x2 (v2) > 120% + 360% (v3)** ATK of Fire DMG, knocks enemies down and pulling them.

Combo ATK adds Passion mark to enemies hit.

---

**COMBO ATK 1**<br/>
When an enemy on the field is hit by Badum's Combo ATK or Stellar Shift, the enemy takes ~~13% (S) / 18% (S2) / 20% (SS2) [v2]~~ 12% (S) / 18% (S2) / 20% (SS2) [v3] > **<span class="text-emerald-400 bg-emerald-800 px-1"> 11% (S) / 18% (S2) / 20% (SS2) [v4] </span>**  more Total DMG from Ba-dum Kiana's weapon skill and Ult.

When there is more than one enemy on the field, this effect is temporarily disabled.

### ULTIMATE 

[SP: 90, CD: **24s(v2) > 22s (v3)**] <br/>
Hit the drum real hard. Deal **1200% (v2) > 1500% (v3)** ATK of Fire DMG, and restore 888 HP for the team. Has time stop.

### RANK UP

**S1** <br/>
Every time SD critical index is detonated, weapon skill and Dream Collab gain Total DMG +4% (S) / 5% (S1), max 20% (S) / 30% (S1).

---

**S2** <br/>
- UNLOCK: Upon casting Combo ATK, weapon skill, or Basic ATK SEQ 4, trigger evasion skill.
- Link enemy dmg share 6% > 7%. If Badum is the leader, her own dmg transfer rate is increased to 15% > 16%.
- When an enemy on the field is hit by Badum's Combo ATK or Stellar Shift, the enemy takes 11% (S) / 18% (S2) more Total DMG from Ba-dum Kiana's weapon skill and Ult.

---


**S3** <br/>
Lead Skill

---

**SS** <br/>
- UNLOCK: Upon entry via QTE, restore 40 meter, and 10 sp for yourself.
- Self Fire DMG +20% (S) / 25% (SS).  Passion mark explosion deals additional 480% (S) / 540% (SS) ATK of Fire DMG. Ult and Dream Collab deal additional 500% (S) / 600% (SS) ATK of Fire DMG
- Link enemy dmg share 7% > 8%. If Badum is the leader, her own dmg transfer rate is increased to 16% > 17%.

---


**SS1** <br/>
During Joy state, Total DMG +10% (S) / 15% (SS1).

---

**SS2** <br/>
When an enemy on the field is hit by Combo ATK or Stellar Shift, the enemy takes 18% (S2) / 20% (SS2) more Total DMG from Ba-dum Kiana's weapon skill and Ult.

---

**SS3** <br/>
Lead Skill

---

**SSS** <br/>
- UNLOCK: Upon casting QTE or Stellar Shift, reset evasion cd.
- Self Fire DMG +25% (SS) / 30% (SSS).  Passion mark explosion deal additional 540% (SS) / 600% (SSS) ATK of Fire DMG. Ult and Dream Collab deal additional 600% (SS) / 700% (SSS) ATK of Fire DMG
