---
creationDate: "2025-01-10T03:44:52.531Z"


title: Ba-dum! Kiana Gear v3

version: '8.1'
sortOrder: '3'
image: "/images/valkportrait/Blazing Wishes.png"

---

### LINKS

- [8.1 Patch Note](/betanews/81log)
- [Ba-dum! Kiana Skills](/betanews/badum)
- [Ba-dum! Kiana Equipment](/betanews/badumgear)
- [HoH Divine Key and Stigma](/betanews/hohdk)
- [Theresa AstralOp](/betanews/teriasop)
- [Elysian Realm](/betanews/81er)

---

## <span class="text-amber-400">Weapon</span> Lucky Break: Fulfilled Dreams!
<div class="flex items-center justify-center text-orange-300 ">
  <img src="https://i.imgur.com/D8zNGKy.png" alt="Icon" class="w-[500px] h-auto rounded-lg" />
</div>
<p class="text-center">
Translation by Aki
</p>

ATK: 441 ,  CRT: 15

**ACTIVE [SP: 0] [CD: 0s]**<br/>
The weapon active's CD, max charges and effects are based on wielder type.  If wielder has Heavenly Shift tag, Fire DMG +35%.


Ba-dum! Fiery Wishing Star equip bonus: 
- When you are the leader, upon casting Stellar Shift, apply timestop for 1.5s. Casting Ult or switching out will immediately end the timestop. During Joy state after Stellar Shift, your Basic ATK gain Total DMG +20%.

- During Stellar Shift, each drum hit deals additional 200% ATK of Fire DMG.

- When there is only one enemy present on field **~~and it has been inflicted with Passion multiple times, Dream Collab can detonate Passion one more time~~**  > **you can apply one more Passion mark (v3)**,  deal 4x100% ATK of Fire DMG.

---

**PASSIVE 1**<br/>
Total DMG +20%. Ba-dum! Fiery Wishing Star equip bonus: 
- Team Resonance ATK gain Elemental DMG +38%.
- When Astral Ring is activated, self Fire DMG +30%, teammates gain Total DMG +20%.

---

**PASSIVE 2**<br/>
Enemies take +12% Fire DMG from wielder. Ba-dum! Fiery Wishing Star equip bonus: Enemies take +25% more Total DMG from her Stellar Shift.

---

**SYNERGY**<br/>
Enemies take 2% / 4% / 6% Total DMG from character on field (independent multiplier) (cannot be stacked). <br/>
Ba-dum! Fiery Wishing Star equip bonus: Enemies take 2% / 4% / 6% Fire DMG from herself (independent multiplier).

---

## <span class="text-amber-400">Ba-dum! Kiana Stigma</span>


**TOP** <br/>
Fire DMG +40%. <br/>
Ba-dum! Fiery Wishing Star equip bonus: Characters with [Let’s Play Together!] status gain Total DMG +20%.

---

**MID**<br/>
Total DMG Resistance +30%.  <br/>
Ba-dum! Fiery Wishing Star equip bonus: Characters with [Let’s Play Together!] status gain Elemental DMG and Physical DMG +30%.

---

**BOT**<br/>
Total DMG +30%. <br/>
Ba-dum! Fiery Wishing Star equip bonus: Enemies on the field take +18% more Elemental and Physical DMG from characters with [Let’s Play Together!] status.

---

**2PC SET**<br/>
Fire DMG **+30% (v2) > 35% (v3)**. Ba-dum! Fiery Wishing Star equip bonus: 
- Enemies on the field take +20% more Fire DMG from herself.
- When Astral Ring is activated: Enemies on the field take +30% more Elemental and Physical DMG from characters with [Let’s Play Together!] status.
- When AR World Star is activated, during AR Charging: Team Total DMG +18%.
- When AR World Star is activated, during Stellar Outburst:
    - Characters with [Let’s Play Together!] gain Elemental DMG +30%, Total DMG +8%.
    - Enemies take +12% Total DMG from characters with [Let’s Play Together!] status, +28% more Total DMG from Weapon Active and Combo ATK of characters with [Let’s Play Together!] status.


---

**3PC SET**<br/>
**~~Total DMG +25% (v2)~~ > Basic ATK and Ult gain Total DMG +17% (v3)**

Ba-dum! Fiery Wishing Star equip bonus: 
- ~~v2: Team gain [Let’s Play Together!] status.~~
- **v3: Upon hitting an enemy with Combo ATK or QTE, or upon activating Stellar Outburst, or if you are the leader: Team gain [Let’s Play Together!] status for 25s, can be refreshed.**
- Enemies on the field take **+20% (v2) > 30% (v3)** more Total DMG from self.
- When Law of Ascension is activated:
    - Characters with [Let’s Play Together!] gain Elemental DMG +20%, Physical DMG **+30% (v2) > 15% (v3)**, Total DMG **+12% (v2) > 15% (v3)**.
    - Enemies on field take **+20% (v2) > 10% (v3)** more Total DMG from characters with [Let’s Play Together!] status.
    - **v3: When Badum is not the leader, enemies' Total DMG taken by teammates increased by 20%.**
    - During Stellar Outburst: Enemies take +10% more Total DMG, +12% more Elemental and Physical DMG from characters with [Let’s Play Together!] status.