---
creationDate: "2025-01-10T03:44:52.533Z"


title: Elysia Divine Key and Stigma v2

version: '8.1'
sortOrder: '4'
image: "/images/valkportrait/Elysia Herrscher of Human Ego.png"

---

### LINKS

- [8.1 Patch Note](/betanews/81log)
- [Ba-dum! Kiana Skills](/betanews/badum)
- [Ba-dum! Kiana Equipment](/betanews/badumgear)
- [HoH Divine Key and Stigma](/betanews/hohdk)
- [Theresa AstralOp](/betanews/teriasop)
- [Elysian Realm (Soon)]()
