---
creationDate: "2024-11-25T16:52:12.764Z"
title: New Astral Ring
lastModifiedDate: "2024-11-25T16:52:12.764Z"
date: "2024-11-25"

version: '8.0'
sortOrder: '5'
image: "/images/valkportrait/dudu.png"

---

![](https://i.imgur.com/gkymCfa.png)


![](https://i.imgur.com/Pm56By6.png)